<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/editar.css}">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Editar Produto</title>
</head>

<body>

<div class="Previw-do-Produto">
    <img th:src="${produto.imgUrl} " alt="Imagem do Produto">
    <h2 th:text="${produto.nome}"></h2>

</div>
<form th:object="${produto}"
      th:action="@{/produtos/{id}/atualizar(id=${produto.id})}"
      th:method="post">


    <input type="text" th:field="*{nome}" placeholder="Nome">

    <input type="text" th:field="*{descricao}" placeholder="Descrição">

    <input type="number" th:field="*{preco}" placeholder="Preço">

    <input type="number" th:field="*{quantidade}" placeholder="Quantidade">

    <input type="url" th:field="*{imgUrl}" placeholder="Imagem">

    <button type="submit" >Atualizar</button>

</form>
</body>
</html>